<ul class="alert alert-danger" *ngIf="errores?.length >0">
  <li *ngFor="let err of errores">
  {{err}}
  </li>
</ul>
<div class="card bg-dark text-white">
  <div class="card-header">{{titulo}}</div>
  <div class="card-boddy">
    <form #clienteForm="ngForm">
      <div class="from-group row">
        <label for="nombre" class="col-form-label col-sm-2">Nombre</label>
        <div class="col-sm-6">
          <input type="text" class="form-control" [(ngModel)]="cliente.nombre" name="nombre"  #nombre ="ngModel" > <!-- required minlength="4"-->
          <div class="alert alert-danger" *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)">
            <div *ngIf="nombre.errors.required">
                Nombre es requerido
            </div>
            <div *ngIf="nombre.errors.minlength">
                Nombre debe tener almenos cuatro caracteres
            </div>
          </div>
        </div>
      </div>
      <div class="from-group row">
          <label for="apellido" class="col-form-label col-sm-2">Apellido</label>
          <div class="col-sm-6">
            <input type="text" class="form-control" [(ngModel)]="cliente.apellido" name="apellido" #apellido ="ngModel"> <!--required -->
            <div class="alert alert-danger" *ngIf="apellido.invalid && (apellido.dirty || apellido.touched)">
              <div *ngIf="apellido.errors.required">
                  apellido es requerido
              </div>
            </div>
      </div>
      </div>
      <div class="from-group row">
        <label for="email" class="col-form-label col-sm-2">Email</label>
        <div class="col-sm-6">
              <input type="text" class="form-control"[(ngModel)]="cliente.email" name="email" #email ="ngModel"> <!-- required email -->
              <div class="alert alert-danger" *ngIf="email.invalid && (email.dirty || email.touched)">
                <div *ngIf="email.errors.required">
                    email es requerido
                </div>
                <div *ngIf="email.errors.email">
                    email debe tener un formato valido
                </div>
              </div>
        </div>
    </div>
    <div class="from-group row">
        <label for="region" class="col-form-label col-sm-2">Region</label>
        <div class="col-sm-6">
          <select [compareWith]="compararRegion" class="form-control" [(ngModel)]="cliente.region" name="region" style="width:400px">
            <option  [ngValue]="undefined">Selecciona Una Region</option>
            <option *ngFor="let region of regiones" [ngValue]="region">{{region.nombre}}</option>
          </select>
        </div>
    </div>
    <div class="from-group row">
        <label for="creatAt" class="col-form-label col-sm-2">Fecha</label>
        <div class="col-sm-6">
        <input  [matDatepicker]="picker"  class="form-control" [(ngModel)]="cliente.creatAt" name="creatAt" style="display:inline;width:300px" >
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </div>

    </div>
    <div class="from-group row">
      <div class="col-sm-6">
        <button type="submit" class="btn btn-outline-light my-3" (click) = 'create()' [disabled]="!clienteForm.form.valid" *ngIf="!cliente.id else elseBlock" role="button" >Crear</button>
        <ng-template #elseBlock >
          <button type="submit" class="btn btn-outline-light my-3" (click) = 'update()' [disabled]="!clienteForm.form.valid"  role="button" >Editar</button>
        </ng-template>
       </div>
    </div>
    </form>
  </div>
</div>
